* {
    margin:0;
}

.header {
    top: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    height: 50px;
    font-size:24px;
    align-items: center;
    display: flex;
    position: fixed;
    
}

.button {
    display: inline-block;
    margin: 5px 15px;
    border: none;
    background-color: rgba(255,0,255,0);
    color: white;
    font-size:20px;
}

.sidebar {
    background-color:#f1f1f1;
    height:100%;
    width: 150px;
    z-index: 1;
    position:fixed;
}

.bar-item{
    display:block;
}

.section {
    margin-top: 50px;
    background-color: orange;
}

.tab-buttons {
    margin: auto;
    text-align: center;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn {
    border-radius: 10px 10px 0px 0px;
    background-color: hsl(120, 5%, 70%);
}

#tab-btn-a {
    background-color: hsl(120, 5%, 90%);
}

.grid {
    margin: auto;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px 15px;
  }

/* #tab-a {
    display: grid;
} */

#tab-b {
    display: none;
}

#tab-c {
    display: none;
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}
  
#btnRandom {
    width: 75px;
    margin: 15px;
    border: 2px solid black;
}